<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Content</title>
    <script src="layout.js"></script>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div class="header">
        <h1>HEADER login, logo, and everthing</h1>
    </div>
    <br> <br>

    <div class="moving">
                <!-- <section class="carousel">
            <ol class="carousel__viewport">
      
              <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                  <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
                  <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
                </div>
              </li>
      
              <li id="carousel__slide2" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
              </div>
              </li>
      
              <li id="carousel__slide3" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
                  </div>
              </li>
      
              <li id="carousel__slide4" tabindex="0" class="carousel__slide">
                <div class="carousel__snapper">
                <a href="#carousel__slide3" class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
              </div>
              </li>
      
            </ol> -->
    </div>

<!-- <div class="first"> -->
    <div class="bhitra">

    <div id="content">

        <div class="column">
            <h2>Column-1</h2>
            <div class="image">
<img src="Heaven_Official's_Blessing_Poster.png" alt="">
            </div>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vel expedita nihil beatae pariatur similique cumque animi facilis eveniet aut provident, reiciendis quo quasi maiores numquam aperiam, blanditiis vitae eligendi!</p>
            <!-- <div class="focus-content">
<p>Description table with genre,writer,main character every thing and last link everthingof column</p>
            </div> -->
        </div>

        <div class="column">
            <h2>Column-2</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>something Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam culpa, voluptatibus unde
                consequuntur, voluptatum architecto laudantium ut illo sunt omnis iste sed eligendi, officia quasi eos
                vitae quis sequi porro!
            </p>
        </div>

        <div class="column">
            <h2>Column-3</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, facilis fugiat! Ratione ex
                quo harum repudiandae tempora nam, perspiciatis odit ipsum delectus eos aliquam amet eaque,
                reprehenderit fuga totam voluptatum.
            </p>
        </div>

        <div class="column">
            <h2>Column-4</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div>

        <div class="column">
            <h2>Column-5</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div>

        <div class="column">
            <h2>Column-6</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div>
        
        <div class="column">
            <h2>Column-7</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div> 

    </div>
<!-- </div> -->
<!--first-one-->

    <div id="content">
        <div class="column">
            <h2>Column-1</h2>
            <div class="image">
<img src="" alt="">
            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam earum itaque, provident sit,
                pariatur deleniti corrupti fugiat minus excepturi rerum aperiam similique a esse! Ratione nihil nulla
                error quibusdam explicabo?
            </p>
        </div>
        
        <div class="column">
            <h2>Column-2</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam culpa, voluptatibus unde
                consequuntur, voluptatum architecto laudantium ut illo sunt omnis iste sed eligendi, officia quasi eos
                vitae quis sequi porro!
            </p>
        </div>

        <div class="column">
            <h2>Column-3</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, facilis fugiat! Ratione ex
                quo harum repudiandae tempora nam, perspiciatis odit ipsum delectus eos aliquam amet eaque,
                reprehenderit fuga totam voluptatum.
            </p>
        </div>

        <div class="column">
            <h2>Column-4</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div>

        <div class="column">
            <h2>Column-5</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div>

        <div class="column">
            <h2>Column-6</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div>
        
        <div class="column">
            <h2>Column-7</h2>
            <div class="image">
                <img src="" alt="">
                            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea delectus necessitatibus
                fuga rerum aspernatur, nulla ullam optio libero earum. Nisi ipsum aliquam et blanditiis commodi
                consequuntur ab quasi? Possimus.
            </p>
        </div> 
<!-- content ko div ho guu jasto memory tero-->
    </div>
    <!-- this is bhitra ko class -->
</div>

<div class="bahira">

   <div class="aurko">
        <h2>Most Viewed</h2>
        <div class="hoho"></div>
        <div class="hoho"></div>
        <div class="hoho"></div>
        <div class="hoho"></div>
        <div class="hoho"></div>
        <div class="hoho"></div>
        <div class="hoho"></div>
    </div>

    <div class="genre">
            <h2>Genre</h2>
            <div class="center">
         <a href="layout2.html"> <button>Fantasy</button> </a>
           <a href="#"><button>BL</button></a>
           <a href="#"><button>GL</button></a>
           <a href="#"><button>Sci-fiction</button></a> 
           <a href="#"><button>Horror</button></a>
           <a href="#"><button>Fiction</button></a>
           <a href="#"><button>Floklore</button></a>
           <a href="#"><button>Thriller</button></a> 
           <a href="#"><button>Mystery</button></a>
           <a href="#"><button>Romance</button></a>
           <a href="#"><button>Adventur</button></a>
        </div>
        </div>
        <!-- bahira ko -->
</div>

    <!-- <div class="footer">
        <h1>Footer</h1> -->
    </div>

</body>

</html>
