<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>   
    <link rel="stylesheet" href="layout2.css">
    <link rel="stylesheet" href="layout.css">
</head>
<body>
       <div class="schedule">
        <ul>
        <li><a class="Sunday" href="">Sunday</a></li>
        <li><a class="Monday" href="">Monday</a></li>
        <li><a class="Tuesday" href="">Tueday</a></li>
        <li><a class="Wenesday" href="">Wenesday</a></li>
        <li><a class="Thursday" href="">Thursday</a></li>
        <li><a class="Friday" href="">Friday</a></li>
        <li><a class="Saturday" href="">Saturday</a></li>
        </ul>
       </div>
       <div id="content">
       <div class="column">
            <h2>Column-1</h2>
            <div class="image">
<img src="" alt="">
            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam earum itaque, provident sit,
                pariatur deleniti corrupti fugiat minus excepturi rerum aperiam similique a esse! Ratione nihil nulla
                error quibusdam explicabo?
            </p>
        </div>

        <div class="column">
            <h2>Column-1</h2>
            <div class="image">
<img src="" alt="">
            </div>
            <p>
                something Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam earum itaque, provident sit,
                pariatur deleniti corrupti fugiat minus excepturi rerum aperiam similique a esse! Ratione nihil nulla
                error quibusdam explicabo?
            </p>
        </div>

       </div>
    
</body>
</html>