
#container{
    margin-top: 90px;
    width: 45%;
    height: 650px;
    margin-left: 27%;
    margin-bottom: 90px;
  border: 1px solid #857594;
  font-family: "Lobster", cursive;
  border-radius: 10px;
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 30px;
   margin-right: 5px;
   margin-left: 5px;
}
.text{
    text-align: center;
    margin-top: 0%;
    margin-right: 6px;
}
.head{
  border-radius: 8px;
  color: yellow;
  background-color: #857594;
  font-size: 18px;
    height: 150px;
}
/* Button */
.genre-btn{
    width: 80%;
    height: 350px;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 7%;
    /* overflow-y: scroll; */
    position: relative;

}

button{
    cursor: pointer;
    font-size: 14px;
    width: 110px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left:30px; 
    margin-right: 5px;
    background-color: rgb(84, 82, 82);
    border: rgb(84, 82, 82);
    font-family: "Lobster", cursive;
    transition: .3s background-color;
}
button:hover{
background-color: rgb(249, 200, 96);
}
.btn:focus{
background-color: rgb(249, 200, 96);
}
.special{
background-color: rgb(249, 200, 96);

}
/* #style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style::-webkit-scrollbar-thumb
{
	background-color: rgb(74, 74, 72);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  transparent,
                                              rgb(122, 33, 122) 70%)
}  ajhai button halna ko lagi scroll just incase*/


.submit{
    background-color: #857594;
    margin-top: 0%;
    margin-left:250px;
}
/* for media screen */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #container{
        width: 43%;
        height: 550px;
    }
    .head{
        font-size: 10px;
    height: 100px;

      }
      button{
        font-size: 9px;
        width: 70px;
        margin-left:0px; 
        margin-right: 3px;
    }
    .submit{
        margin-left:110px;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #container{
        width: 43%;
        height: 550px;
    }
    .head{
        font-size: 10px;
    height: 100px;

      }
      button{
        font-size: 9px;
        width: 70px;
        margin-left: 0px;
        margin-right: 5px;
    }
    .submit{
        margin-left:110px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #container{
        width: 45%;
        height: 650px;
    }
    .head{
        font-size: 15px;
    height: 150px;

      }
      button{
        font-size: 10px;
        width: 80px;
        margin-left:10px; 
        margin-right: 15px;
    }
    .submit{
        margin-left:160px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #container{
        width: 45%;
        height: 650px;
    }
    .head{
        font-size: 15px;
    height: 150px;

      }
   
      button{
        font-size: 12px;
        width: 95px;
        margin-left:20px; 
        margin-right: 5px;
    }
    .submit{
        margin-left:195px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #container{
        width: 45%;
        height: 650px;
    }
    .head{
        font-size: 18px;
    height: 150px;
      }
   
      button{
        font-size: 15px;
        width: 115px;
        margin-left:30px; 
        margin-right: 5px;
    }
    .submit{
        margin-left:250px;
    }
}
